@use '@src/styles/breakpoints' as *;

.phone-detail {
  &__back {
    height: 44px;
    margin-bottom: var(--space-xxs);
    padding: 0 var(--space-md);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    color: var(--color-black);

    &--icon {
      margin-right: var(--space-xxs);
    }
  }

  &__main {
    padding: 0 var(--space-md);
  }

  &__hero {
    margin-top: var(--space-xl);
    display: grid;
    grid-template-columns: 1fr;
  }

  /* IMAGE */
  &__image-wrap {
    position: relative;
    width: 100%;
    height: 260px;
  }

  &__image-frame {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__image-inner {
    position: relative;
    width: 85%;
    height: 85%;
  }

  &__image {
    object-fit: contain;
  }

  &__info {
    margin-top: var(--layout-xs);
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 0 var(--space-xs) 0;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-light);
    color: var(--color-black);
    text-transform: uppercase;
  }

  &__price {
    margin: 0;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-light);
    color: var(--color-black);
  }

  &__options {
    margin-top: var(--layout-xs);
  }

  &__storage {
    border: 0;
    padding: 0;
    margin: 0;

    legend {
      margin-bottom: var(--space-lg);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-light);
      color: var(--color-black);
    }

    &--options {
      width: 273px;
      height: 48px;
      display: grid;
      grid-template-columns: 89px 89px 95px;

      label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 0.5px solid var(--color-fieldset);
        border-right: none;

        &:last-of-type {
          border-right: 0.5px solid var(--color-fieldset);
        }

        &:has(input:checked) {
          border-color: var(--color-black);
          border-right: 0.5px solid var(--color-black);
        }
      }

      input {
        position: absolute;
        opacity: 0;
      }

      span {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-light);
        text-transform: uppercase;
      }
    }
  }

  &__colors {
    border: 0;
    padding: 0;
    margin: var(--space-3xl) 0 0 0;

    legend {
      margin-bottom: var(--space-lg);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-light);
      color: var(--color-black);
    }

    &--options {
      width: 24px;
      display: flex;
      gap: var(--space-md);
      align-items: center;

      label {
        height: 100%;
        padding: 1px;
        cursor: pointer;
        display: flex;
        border: 0.5px solid var(--color-fieldset);

        &:has(input:checked) {
          border-color: var(--color-black);
        }
      }

      input {
        position: absolute;
        opacity: 0;
      }
    }

    &--swatch {
      width: 24px;
      height: 24px;
      display: inline-block;
    }

    &--name {
      margin-top: var(--space-xs);
      margin-block-end: 0;
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-light);
      color: var(--color-black);
    }
  }

  &__cta {
    margin-top: var(--layout-xs);
    width: 100%;
    height: 48px;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    text-transform: uppercase;
    cursor: pointer;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
  &__specs {
    margin-top: var(--layout-md);

    h2 {
      margin-block-start: 0;
      margin-bottom: var(--layout-xs);
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-light);
      color: var(--color-black);
    }

    &--row {
      min-height: 47px;
      display: grid;
      grid-template-columns: 150px 1fr;
      gap: var(--space-sm);
      padding: var(--space-md) 0;
      border-bottom: 0.5px solid var(--color-black);

      dt {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-light);
        color: var(--color-black);
        text-transform: uppercase;
        display: flex;
        align-items: center;
      }

      dd {
        margin: 0;
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-light);
        color: var(--color-black);
      }
    }
  }

  &__similar {
    margin-top: var(--layout-md);
    padding: 0 var(--space-md) var(--layout-2xl) var(--space-md);

    h2 {
      height: 24px;
      margin-bottom: var(--layout-xs);
      margin-block-start: 0;
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-light);
    }

    &--grid {
      width: max-content;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;

      border-top: var(--border-hairline);
      border-bottom: var(--border-hairline);

      > * {
        flex: 0 0 344px;
        border-right: var(--border-hairline);
      }

      > *:first-child {
        border-left: var(--border-hairline);
      }
    }

    &--scroll {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      padding-bottom: var(--layout-xs);
      border-bottom: var(--border-hairline);

      scrollbar-color: var(--color-black) var(--color-scrollbar);
      scrollbar-width: thin;
    }
  }

  @media (min-width: $breakpoint-md) {
    &__main {
      margin-top: var(--layout-sm);
      padding: 0 var(--layout-xs);
    }

    &__back {
      display: none;
    }

    &__hero {
      grid-template-columns: 1fr 1fr;
      gap: var(--layout-xs);
      align-items: start;
    }

    &__image-wrap {
      height: 100%;
    }

    &__info {
      height: 416px;
      margin-top: 0;
      padding-top: var(--space-2xl);
      justify-content: space-between;
    }

    &__cta {
      width: 260px;
      margin-bottom: var(--space-2xl);
    }

    &__specs {
      margin-top: var(--layout-lg);

      &--row {
        grid-template-columns: 300px 1fr;
        gap: var(--layout-sm);
      }
    }

    &__similar {
      margin-top: var(--layout-lg);
    }
  }

  @media (min-width: $breakpoint-lg) {
    &__back {
      display: flex;
      padding: 0 var(--layout-xl);
    }

    &__main {
      padding: 0 calc(100vw / 6);
      margin-top: 0;
    }

    &__hero {
      display: flex;
      justify-content: space-between;
    }

    &__image-wrap {
      width: 337px;
      height: 416px;
    }

    &__info {
      width: 380px;
    }

    &__cta {
      width: 380px;
    }

    &__similar {
      padding: 0 0 0 calc(100vw / 6);
      margin-bottom: var(--layout-3xl);

      &--scroll {
        scrollbar-color: var(--color-black) transparent;
      }
    }
  }
}
