@use '@src/styles/breakpoints' as *;

.cart-list {
  padding: 0 var(--space-md);

  &__title {
    margin-block: 0;
    margin: var(--space-xl) 0;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-light);
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 var(--space-md);
    background-color: var(--color-white);
  }

  @media (min-width: $breakpoint-md) {
    padding: 0 var(--layout-xs);

    &__title {
      margin-block: 0;
      margin: var(--layout-sm) 0;
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-light);
    }

    &__content {
      flex-direction: row;
      justify-content: space-between;
    }

    &__list {
      flex: 1;
    }

    &__footer {
      padding: 0 var(--layout-sm);
    }
  }

  @media (min-width: $breakpoint-lg) {
    padding: 0 var(--layout-xl);

    &__title {
      font-size: var(--font-size-2xl);
    }
  }
}
