@use '@src/styles/breakpoints' as *;

.cart-empty {
  height: calc(100vh - 80px);
  padding: var(--space-xl) var(--space-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin-block: 0;
    margin: var(--space-xl) 0;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-light);
  }

  &__button {
    width: 100%;

    &--link {
      display: block;
      text-align: center;
      border: 1px solid var(--color-black);
      padding: var(--space-sm);
      text-decoration: none;
      color: var(--color-black);
    }
  }

  @media (min-width: $breakpoint-md) {
    padding: var(--layout-sm) var(--layout-xs) var(--layout-xs);

    &__button {
      width: 200px;
    }
  }

  @media (min-width: $breakpoint-lg) {
    padding: var(--space-sm) var(--layout-xl) var(--layout-sm);
  }
}
