@use '@src/styles/breakpoints' as *;

.cart-summary {
  height: 129px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-sm);

  &__total {
    margin: var(--space-md) 0 var(--space-xl) 0;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-md);
  }

  &__continue {
    display: flex;
    align-items: center;

    &--link {
      width: 100%;
      height: 48px;
      border: 1px solid var(--color-black);
      padding: var(--space-sm);
      font-size: var(--font-size-sm);
      text-decoration: none;
      color: var(--color-black);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__pay {
    display: flex;
    align-items: center;

    &--button {
      width: 100%;
      height: 48px;
      padding: var(--space-sm);
      background: var(--color-black);
      border: none;
      font-size: var(--font-size-sm);
      text-align: center;
      color: white;
      cursor: pointer;
    }
  }

  @media (min-width: $breakpoint-md) {
    height: 112px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    &__total {
      grid-column: 2;
      grid-row: 1;
      justify-content: center;
      gap: var(--space-xl);
    }

    &__continue {
      grid-column: 1;
      grid-row: 1;
    }

    &__pay {
      grid-column: 3;
      grid-row: 1;
    }
  }
}
