.search-bar {
  position: relative;
  height: 27px;
  margin-top: var(--space-sm);
  border-bottom: 1px solid var(--color-gray-300);

  display: flex;
  align-items: center;

  &__label {
    display: none;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;

    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-light);
    color: var(--color-black);

    padding-right: var(--space-xl);

    &::placeholder {
      color: var(--color-gray-600);
      transition: opacity 0.08s ease;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &__clear {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    height: 19px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--color-black);

    svg {
      height: 100%;
      display: block;
    }
  }
}
