@use '@src/styles/breakpoints' as *;

.cart-item {
  width: 100%;
  height: 200px;
  display: flex;
  gap: var(--space-lg);
  margin-bottom: var(--space-3xl);

  &__info {
    width: 177px;
    margin: var(--layout-xs) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__specs {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-bottom: var(--space-xxs);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    text-transform: uppercase;
  }

  &__meta {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-light);
    text-transform: uppercase;
  }

  &__price {
    margin-top: var(--space-lg);
    font-size: var(--font-size-sm);
  }

  &__remove {
    font-size: var(--font-size-xs);
    color: var(--color-red);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
  }

  @media (min-width: $breakpoint-md) {
    height: 324px;

    &__image {
      width: 262px;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
