@use '@src/styles/breakpoints' as *;

.phone-detail {
  &__hero {
    margin-top: var(--space-xl);
    display: grid;
    grid-template-columns: 1fr;
  }

  &__image-wrap {
    position: relative;
    width: 100%;
    height: 260px;
  }

  &__image-frame {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__image-inner {
    position: relative;
    width: 85%;
    height: 85%;
  }

  &__image {
    object-fit: contain;
  }

  @media (min-width: $breakpoint-md) {
    &__hero {
      grid-template-columns: 1fr 1fr;
      gap: var(--layout-xs);
      align-items: start;
    }

    &__image-wrap {
      height: 100%;
    }
  }

  @media (min-width: $breakpoint-lg) {
    &__hero {
      display: flex;
      justify-content: space-between;
    }

    &__image-wrap {
      width: 337px;
      height: 416px;
    }
  }
}
